<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public\styles.css">
    <title>xyEcommerce</title>
</head>
<body>
    <div class="xyecommerce">
        <h1>x<span>y</span>Ecommerce</h1>
    </div>
    <nav>
        <ul>
            <li><a href="#" class="active">Featured</a></li>
            <li><a href="#">Women</a></li>
            <li><a href="#">Kids</a></li>
            <li><a href="#">Casual</a></li>
            <li><a href="#">Formal</a></li>
            <li><a href="#">Sports</a></li>
            <li><a href="#">Offers Zone</a></li>
        </ul>
    </nav>
    <div class="shoes-container">
        <div class="front">
            <img src="../public/images/revolt-164_6wVEHfI-unsplash.jpg" alt="shoes" class="shoes">
        </div>
    </div>
    <div class="grid-container">
        <div class="first-row">
            <img src="../public/images/jay-nU-uOifIwEk-unsplash.jpg" alt="luffy" class="luffy">
        </div>
    </div>
<script src="public\index.js"></script>
</body>
</html>